*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    margin: 50px auto;
    border: 4px double greenyellow;
    width: 500px;
    height: 300px;
}

table th {
    background-color: aqua;
    border: 4px solid rgb(0, 255, 106);
    padding: 5px 5px;
}

table td {
    background-color: rgb(188, 238, 238);
    border: 4px solid rgb(255, 102, 0);
    padding: 5px 5px;
    text-align: center;
}

table td:hover{
    transform: scale(1.2);
    transition: 3s;
}

table th:hover{
    transform: scale(1.2);
    transition: 3s;
}




